body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}


container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Espaçamento abaixo de cada input */
    border: 2px solid #7a08e4; 
    border-radius: 5px;
}

